{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center text-white bg-dark pt-2 pb-2">
                <h1 >Catégorie {{ category.name }}</h1>
                <img class="rounded-circle" src="{{ category.image }}" alt="{{ category.name }}" width="300px">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 text-center">
                <h1>Les Cocktails</h1>
            </div>
            <div class="col-12" id="root" data-category="{{ category.id }}"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('categories-react') }}
{% endblock %}
